/* 2c3e50 bleu marine
#dc3545 rouge  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
}


/* header  */
header {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: white;
}

.divH p {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.divH2 {
    display: flex;
    gap: 20px;
}

/* section rouge */
section:first-of-type {
    background-color: #dc3545;
    color: white;
    text-align: center;
    padding: 50px ;
}

section:first-of-type img {
    width: 150px;
    margin-bottom: 20px;
}

section:first-of-type h1 {
    font-size: 1rem;
    text-transform: uppercase;
}

section:first-of-type p {
    font-size: 1.5rem;
    text-transform: uppercase;
}
