/* 2c3e50 bleu marine
#dc3545 rouge  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
}


/* header  */
header {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: white;
}

.divH p {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.divH2 {
    display: flex;
    gap: 20px;
}

/* section rouge */
section:first-of-type {
    background-color: #dc3545;
    color: white;
    text-align: center;
    padding: 50px ;
}

section:first-of-type img {
    width: 150px;
    margin-bottom: 20px;
}

section:first-of-type h1 {
    font-size: 1rem;
    text-transform: uppercase;
}

section:first-of-type p {
    font-size: 1.5rem;
    text-transform: uppercase;
}
/* portfolio */
section:nth-of-type(2) {
    text-align: center;
    padding: 80px 0;
    background-color: white;
}

section:nth-of-type(2) h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #2c3e50;
}

section:nth-of-type(2) div:last-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
    margin-left:100px ;
    margin-right:100px ;
    gap: 20px;
}

section:nth-of-type(2) div:last-child img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

section:nth-of-type(3) {
    text-align: center;
    padding: 80px 50px;
    background-color: #dc3545;
    color: white;
}

section:nth-of-type(3) h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

section:nth-of-type(3) div {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

section:nth-of-type(3) p {
    text-align:left ;
    margin-bottom: 15px;
    margin-left: 50px;
}

section:nth-of-type(4) {
    text-align: center;
    padding: 80px 50px;
}

section:nth-of-type(4) h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #2c3e50;
}

section:nth-of-type(4) p {
    margin: 20px 0;
    color: #777;
}

section:nth-of-type(4) hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

section:nth-of-type(4) button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section:nth-of-type(4) button:hover {
    background-color: #c0392b;
}

